@import "navbar.css";
@import "tictactoe.css";

/* Variables */
:root {
    /* main color pallete */
    --matte-cream: #e1dfd1;
    --mellow-yellow: #f9d461;
    --coral-peach: #ff917a;

    --light-coral: #ff907ac0;
    --light-yellow: #f9d361c8;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Gill Sans'; */
    font-family: Georgia, serif;
    /* color: white; */
    color: black;
    padding: 0;
    margin: 0;
    overflow: visible;
    background-color: var(--matte-cream);
    /* background-color: black; */
}

.name-intro {
    /* padding-left: 15%;
    padding-right: 15%; */

    padding: 5%;
    
    text-align: center;
    font-size: 150px;
    font-weight: bolder;
}

.intro-text {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;

    font-size: 30px;
    text-align: center;
}

.proj-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* grid-template-rows: repeat(2, minmax(0, 1fr)); */

    text-align: center;
    font-size: 50px;
    /* padding: 2rem 1rem; */
    /* padding: 5%; */
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

.proj-title-container {
    border: 3px solid white;
    /* padding: 20%; */
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 35%;

}

.proj-text {
  text-decoration: none;
  color: white;
  /* font-weight: 500; */
  font-size: 50px;

}

.proj-text:hover {
    font-weight: 600;
}

