nav {
  /* display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  font: 120% system-ui;
  text-align: center;
  padding: 2rem 1rem;  */
  
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  background-color: var(--butterfly-bush);

  /* background-color: black; */
  box-shadow: 0 2px 2px var(--butterfly-bush);

}

h1 {
  color: var(--butterfly-bush);
  background-color: var(--pipi);
  border-radius: 8px;
  padding: 5px;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: var(--pipi);
  font-size: 22px;
  font-weight: 700;
  /* transition: 0.3s; */
  
  padding: 5px;
  
}

a:hover {
  font-weight: 800;
  color: var(--butterfly-bush);
}

a:active {
  font-weight: 800;
  color: var(--butterfly-bush);

}

ul {
  list-style-type: none;
  display: flex;
  gap: 1.9rem;

}

li {
  background-color: var(--butterfly-bush);
  padding: 10px;
  border-radius: 8px;
}

li:hover {
  background-color: var(--pipi);
  color: var(--butterfly-bush);
}

li:active {
  background-color: var(--pipi);
  color: var(--butterfly-bush);
}