.board-container {
	height: 80vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
	
}
  
.box {
	width: 150px;
	height: 150px;
	border: 3px solid var(--pipi);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.box.X::before,
.box.X::after {
	background-color: var(--blackcurrant);
}

.box.O::before,
.box.O::after {
	background-color: var(--chetwode-blue);
}

.board-container.X .box:not(.X):not(.O):hover::before,
.board-container.X .box:not(.X):not(.O):hover::after {
	background-color: var(--light-black);
}

.board-container.O .box:not(.X):not(.O):hover::before,
.board-container.O .box:not(.X):not(.O):hover::after {

	background-color: var(--light-blue);
}

.box.X::before,
.box.X::after,
.board-container.X .box:not(.X):not(.O):hover::before,
.board-container.X .box:not(.X):not(.O):hover::after {
	content: '';
	position: absolute;
	width: calc(var(--mark-size) * .15);
	height: var(--mark-size);
}

.box.X::before,
.board-container.X .box:not(.X):not(.O):hover::before {
	transform: rotate(45deg);
}

.box.X::after,
.board-container.X .box:not(.X):not(.O):hover::after {
	transform: rotate(-45deg);
}

.box.O::before,
.box.O::after,
.board-container.O .box:not(.X):not(.O):hover::before,
.board-container.O .box:not(.X):not(.O):hover::after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.box.O::before,
.board-container.O .box:not(.X):not(.O):hover::before {
	width: var(--mark-size);
	height: var(--mark-size);
}

.box.O::after,
.board-container.O .box:not(.X):not(.O):hover::after {
	width: calc(var(--mark-size) * .7);
	height: calc(var(--mark-size) * .7); 
	background-color: var(--spindle);
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background-color: #555488b5; */
	background-color: #fef5c9a3;
	
	justify-content: center;
	align-items: center;
	color: var(--butterfly-bush);
	font-size: 5rem;
	flex-direction: column;
}

.winning-message button {
	font-size: 3rem;
	background-color: var(--butterfly-bush);
	border: 1px solid var(--pipi);
	padding: .25em .5em;
	cursor: pointer;

	border-radius: 8px;
    font-family: Georgia, serif;
	color: var(--pipi);
}

.winning-message button:hover {
	/* background-color: var(--light-coral); */
	background-color: var(--spindle);
	color: var(--pipi);
}

.winning-message.show {
	display: flex;
}