.board-container {
	height: 80vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
	
}
  
.box {
	width: 150px;
	height: 150px;
	border: 3px solid var(--onyx);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.box.X::before,
.box.X::after {
	background-color: var(--electric-indigo);
}

.box.O::before,
.box.O::after {
	background-color: var(--ultra-pink);
}

.board-container.X .box:not(.X):not(.O):hover::before,
.board-container.X .box:not(.X):not(.O):hover::after {
	background-color: var(--electric-indigo);
}

.board-container.O .box:not(.X):not(.O):hover::before,
.board-container.O .box:not(.X):not(.O):hover::after {

	background-color: var(--ultra-pink);
}

.box.X::before,
.box.X::after,
.board-container.X .box:not(.X):not(.O):hover::before,
.board-container.X .box:not(.X):not(.O):hover::after {
	content: '';
	position: absolute;
	width: calc(var(--mark-size) * .15);
	height: var(--mark-size);
}

.box.X::before,
.board-container.X .box:not(.X):not(.O):hover::before {
	transform: rotate(45deg);
}

.box.X::after,
.board-container.X .box:not(.X):not(.O):hover::after {
	transform: rotate(-45deg);
}

.box.O::before,
.box.O::after,
.board-container.O .box:not(.X):not(.O):hover::before,
.board-container.O .box:not(.X):not(.O):hover::after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.box.O::before,
.board-container.O .box:not(.X):not(.O):hover::before {
	width: var(--mark-size);
	height: var(--mark-size);
}

.box.O::after,
.board-container.O .box:not(.X):not(.O):hover::after {
	width: calc(var(--mark-size) * .7);
	height: calc(var(--mark-size) * .7); 
	background-color: var(--ultra-pink);
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--seasalt);
	
	justify-content: center;
	align-items: center;

	
	
	flex-direction: column;
}

.winner-text {
	padding-bottom: 2rem;
	color: var(--electric-indigo);
	text-shadow: 4px 4px 0 var(--ultra-pink);

	font-size: 5rem;
	font-weight: 600;
}

.winning-message button {
	font-size: 3rem;
	background-color: var(--butterfly-bush);
	border: 2px solid var(--onyx);
	padding: .25em .5em;
	cursor: pointer;

	border-radius: 8px;
	color: var(--onyx);

	box-shadow: 4px 4px 0 var(--silver);
}

.winning-message button:hover {
	box-shadow: 6px 6px 0 var(--silver);
}

.winning-message.show {
	display: flex;
}